In [398]:
!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in /usr/local/lib/python3.7/dist-packages (1.7.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)

In [399]:
import pandas as pd
import requests
import json

from tmdbv3api import Movie, TMDb

#1º Parte: Coleta de Dados
Nessa parte iremos buscar os filmes atualizados do IMDB e, em seguida, iremos passá-los para um arquivo CSV.

In [400]:
tmdb = TMDb()
tmdb.api_key = "6c7fe2d7eeb02195b49f11e07a02fb2d"
tmdb_movie = Movie()

## Compreendendo melhor a estrutura do dataset:

In [401]:
df = pd.read_csv("movies_metadata.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [402]:
#buscando o último ano em que o dataset foi atualizado:
years = df['release_date'].dropna()
years_list = []

for year in years:
  year = str(year).split('-')
  year = year[0]
  years_list.append(int(year))
  
print(max(years_list))

2020

Portanto, precisamos atualizar o dataset de filmes, visto que temos um gap de 2 anos de filmes novos.

## Filmes de 2020:

In [403]:
url = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

A lista de filmes de 2020 funciona por trimestres, ou seja, para o ano inteiro, precisamos pegar 4 trimestres e fazer quatro dataframes para juntá-los.

In [404]:
df1_2020 = pd.read_html(url, header=0)[2]
df2_2020 = pd.read_html(url, header=0)[3]
df3_2020 = pd.read_html(url, header=0)[4]
df4_2020 = pd.read_html(url, header=0)[5]

In [405]:
df1.head()

   Opening  ...  .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.
0  JANUARY  ...                                                [2]
1  JANUARY  ...                                                [3]
2  JANUARY  ...                                                [4]
3  JANUARY  ...                                                NaN
4  JANUARY  ...                                                [5]

[5 rows x 6 columns]

In [406]:
df_2020 = df1_2020.append(df2_2020.append(df3_2020.append(df4_2020, ignore_index=True), ignore_index=True), ignore_index=True)

In [407]:
df_2020["Opening"]

0       JANUARY
1       JANUARY
2       JANUARY
3       JANUARY
4       JANUARY
         ...
268    DECEMBER
269    DECEMBER
270    DECEMBER
271    DECEMBER
272    DECEMBER
Name: Opening, Length: 273, dtype: object

In [408]:
df_2020 = df_2020.filter(["Title", "Opening"], axis=1)

In [409]:
df_2020.shape

(273, 2)

In [410]:
type(df_2020)

pandas.core.frame.DataFrame

In [411]:
def get_id(title):
  result = tmdb_movie.search(title)
  #Tem um erro na lista de filmes da imdb, tem um filme vazio que foi deletado e não apagaram. Para isso, devo tratar o Erro:
  if result != []:
    movie_id = result[0].id
    return movie_id

In [412]:
df_2020["id"] = df_2020["Title"].map(lambda x: get_id(str(x)))

In [413]:
df_2020.head()

               Title  Opening        id
0         The Grudge  JANUARY    1970.0
1         Underwater  JANUARY  443791.0
2        Like a Boss  JANUARY  526019.0
3      Three Christs  JANUARY  418533.0
4  Inherit the Viper  JANUARY  634904.0

In [414]:
df_2020.drop(columns=["Opening"], inplace=True)

In [415]:
df_2020.rename(columns = {"Title": "original_title"}, inplace= True)

In [416]:
df_2020.head()

      original_title        id
0         The Grudge    1970.0
1         Underwater  443791.0
2        Like a Boss  526019.0
3      Three Christs  418533.0
4  Inherit the Viper  634904.0

##Filmes de 2021:

In [417]:
url = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [418]:
df1_2021 = pd.read_html(url, header=0)[2]
df2_2021 = pd.read_html(url, header=0)[3]
df3_2021 = pd.read_html(url, header=0)[4]
df4_2021 = pd.read_html(url, header=0)[5]

In [419]:
df_2021 = df1_2021.append(df2_2021.append(df3_2021.append(df4_2021, ignore_index=True), ignore_index=True), ignore_index=True)

In [420]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 11 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Rank                                                                         15 non-null     float64
 1   Title                                                                        278 non-null    object
 2   Distributor                                                                  15 non-null     object
 3   Domestic gross                                                               15 non-null     object
 4   International gross                                                          15 non-null     object
 5   Opening                                                                      263 non-null    object
 6   Opening.1                                                                    263 non-null    float64
 7   Production company                                                           263 non-null    object
 8   Cast and crew                                                                263 non-null    object
 9   .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.  54 non-null     object
 10  Ref.                                                                         148 non-null    object
dtypes: float64(2), object(9)
memory usage: 24.0+ KB

In [421]:
df_2021.tail()

     Rank  ...   Ref.
273   NaN  ...  [195]
274   NaN  ...  [196]
275   NaN  ...  [167]
276   NaN  ...  [197]
277   NaN  ...  [198]

[5 rows x 11 columns]

In [422]:
df_2021.shape

(278, 11)

In [423]:
df_2021 = df_2021.filter(["Title", "Opening"], axis=1)

In [424]:
df_2021["id"] = df_2021["Title"].map(lambda x: get_id(str(x)))

In [425]:
df_2021.head()

                                       Title Opening        id
0                   Spider-Man: No Way Home*     NaN  634649.0
1  Shang-Chi and the Legend of the Ten Rings     NaN  566525.0
2                Venom: Let There Be Carnage     NaN  580489.0
3                                Black Widow     NaN  497698.0
4                                         F9     NaN  385128.0

In [426]:
df_2021.drop(columns=["Opening"], inplace=True)

In [427]:
df_2021.head()

                                       Title        id
0                   Spider-Man: No Way Home*  634649.0
1  Shang-Chi and the Legend of the Ten Rings  566525.0
2                Venom: Let There Be Carnage  580489.0
3                                Black Widow  497698.0
4                                         F9  385128.0

In [428]:
df_2021.rename(columns = {"Title": "original_title"}, inplace= True)

In [429]:
df_2021.head()

                              original_title        id
0                   Spider-Man: No Way Home*  634649.0
1  Shang-Chi and the Legend of the Ten Rings  566525.0
2                Venom: Let There Be Carnage  580489.0
3                                Black Widow  497698.0
4                                         F9  385128.0

##Concatenando os Dataframes:

In [430]:
listas_dfs = [df_2020, df_2021]

In [431]:
dfs_concat = pd.concat(listas_dfs)

In [432]:
dfs_concat.head()

      original_title        id
0         The Grudge    1970.0
1         Underwater  443791.0
2        Like a Boss  526019.0
3      Three Christs  418533.0
4  Inherit the Viper  634904.0

In [433]:
dfs_concat.tail()

                       original_title        id
273  My Little Pony: A New Generation  597316.0
274                  Dear Evan Hansen  567690.0
275                        The Guilty  567748.0
276                 Birds of Paradise  667969.0
277                     After We Fell  744275.0

In [434]:
dfs_concat

                       original_title        id
0                          The Grudge    1970.0
1                          Underwater  443791.0
2                         Like a Boss  526019.0
3                       Three Christs  418533.0
4                   Inherit the Viper  634904.0
..                                ...       ...
273  My Little Pony: A New Generation  597316.0
274                  Dear Evan Hansen  567690.0
275                        The Guilty  567748.0
276                 Birds of Paradise  667969.0
277                     After We Fell  744275.0

[551 rows x 2 columns]

In [435]:
dfs_concat = dfs_concat.dropna()

In [436]:
dfs_concat.tail()

                       original_title        id
273  My Little Pony: A New Generation  597316.0
274                  Dear Evan Hansen  567690.0
275                        The Guilty  567748.0
276                 Birds of Paradise  667969.0
277                     After We Fell  744275.0

In [437]:
dfs_concat.shape

(549, 2)

In [438]:
df_2020.shape

(273, 2)

In [439]:
df_2021.shape

(278, 2)

##Conjunto de Dados do Kaggle:

In [440]:
df_movies = pd.read_csv("tmdb_5000_movies.csv")

In [441]:
df_movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

##Retorno JSON:

Iremos pegar todas as informações do JSON que batem com o dataset fornecido pelo Kaggle:

In [442]:
response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(406563, tmdb.api_key))

In [443]:
data_json = response.json()
data_json

{'adult': False,
 'backdrop_path': '/PwI3EfasE9fVuXsmMu9ffJh0Re.jpg',
 'belongs_to_collection': {'backdrop_path': '/5FrPZHgbbmTIq0oxpwSGqu5HyXC.jpg',
  'id': 228446,
  'name': 'Insidious Collection',
  'poster_path': '/w1213HKk1XKSwHiBgjkWghn9biC.jpg'},
 'budget': 10000000,
 'genres': [{'id': 27, 'name': 'Horror'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 53, 'name': 'Thriller'}],
 'homepage': 'http://www.insidiousmovie.com',
 'id': 406563,
 'imdb_id': 'tt5726086',
 'original_language': 'en',
 'original_title': 'Insidious: The Last Key',
 'overview': 'Parapsychologist Elise Rainier and her team travel to Five Keys, NM, to investigate a man’s claim of a haunting. Terror soon strikes when Rainier realizes that the house he lives in was her family’s old home.',
 'popularity': 56.071,
 'poster_path': '/nb9fc9INMg8kQ8L7sE7XTNsZnUX.jpg',
 'production_companies': [{'id': 11341,
   'logo_path': '/xytTBODEy3p20ksHL4Ftxr483Iv.png',
   'name': 'Stage 6 Films',
   'origin_country': 'US'},
  {'id': 3172,
   'logo_path': '/kDedjRZwO8uyFhuHamomOhN6fzG.png',
   'name': 'Blumhouse Productions',
   'origin_country': 'US'},
  {'id': 34,
   'logo_path': '/GagSvqWlyPdkFHMfQ3pNq6ix9P.png',
   'name': 'Sony Pictures',
   'origin_country': 'US'},
  {'id': 33,
   'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
   'name': 'Universal Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2018-01-03',
 'revenue': 167184112,
 'runtime': 103,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Fear comes home.',
 'title': 'Insidious: The Last Key',
 'video': False,
 'vote_average': 6.2,
 'vote_count': 2162}

##Gênero dos filmes:

In [444]:
dfs_concat.head()

      original_title        id
0         The Grudge    1970.0
1         Underwater  443791.0
2        Like a Boss  526019.0
3      Three Christs  418533.0
4  Inherit the Viper  634904.0

In [445]:
def get_genres(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["genres"]

In [446]:
dfs_concat['genres'] = dfs_concat["id"].map(lambda x: get_genres(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [447]:
dfs_concat.head()

      original_title  ...                                             genres
0         The Grudge  ...  [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
1         Underwater  ...  [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...
2        Like a Boss  ...                     [{'id': 35, 'name': 'Comedy'}]
3      Three Christs  ...                      [{'id': 18, 'name': 'Drama'}]
4  Inherit the Viper  ...  [{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...

[5 rows x 3 columns]

##Budget dos filmes:

In [448]:
def get_budget(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["budget"]

In [449]:
dfs_concat['budget'] = dfs_concat["id"].map(lambda x: get_budget(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [450]:
dfs_concat.head()

      original_title  ...    budget
0         The Grudge  ...  10000000
1         Underwater  ...  50000000
2        Like a Boss  ...  29000000
3      Three Christs  ...         0
4  Inherit the Viper  ...         0

[5 rows x 4 columns]

##Palavras-chaves (Keywords):

In [451]:
response = requests.get("https://api.themoviedb.org/3/movie/{}/keywords?api_key={}". format(406563, tmdb.api_key))

In [452]:
data_json = response.json()
data_json

{'id': 406563,
 'keywords': [{'id': 2723, 'name': 'medium'},
  {'id': 2849, 'name': 'key'},
  {'id': 3358, 'name': 'haunted house'},
  {'id': 9675, 'name': 'prequel'},
  {'id': 13153, 'name': 'spirit'},
  {'id': 208611, 'name': '1950s'}]}

In [453]:
def get_keywords(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}/keywords?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["keywords"]

In [454]:
dfs_concat['keywords'] = dfs_concat['id'].map(lambda x: get_keywords(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [455]:
dfs_concat.head()

      original_title  ...                                           keywords
0         The Grudge  ...  [{'id': 428, 'name': 'nurse'}, {'id': 6095, 'n...
1         Underwater  ...  [{'id': 3521, 'name': 'earthquake'}, {'id': 79...
2        Like a Boss  ...  [{'id': 160483, 'name': 'investor'}, {'id': 18...
3      Three Christs  ...                                                 []
4  Inherit the Viper  ...  [{'id': 1415, 'name': 'small town'}, {'id': 24...

[5 rows x 5 columns]

##Original Language:

In [456]:
def get_original_language(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["original_language"]

In [457]:
dfs_concat['original_language'] = dfs_concat['id'].map(lambda x: get_original_language(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [458]:
dfs_concat.head()

      original_title  ...  original_language
0         The Grudge  ...                 en
1         Underwater  ...                 en
2        Like a Boss  ...                 en
3      Three Christs  ...                 en
4  Inherit the Viper  ...                 en

[5 rows x 6 columns]

## Overview:

In [459]:
#Pegando a sinopse de cada filme
#Caso desejemos mudar a língua, basta acrescentar "&language=pt-br" após a api_key.
def get_overview(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["overview"]

In [460]:
dfs_concat['overview'] = dfs_concat['id'].map(lambda x: get_overview(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [461]:
dfs_concat.head()

      original_title  ...                                           overview
0         The Grudge  ...  An American nurse living and working in Tokyo ...
1         Underwater  ...  After an earthquake destroys their underwater ...
2        Like a Boss  ...  Two female friends with very different ideals ...
3      Three Christs  ...  Dr. Alan Stone breaks new ground for treatment...
4  Inherit the Viper  ...  Since the death of their father, the Riley sib...

[5 rows x 7 columns]

##Popularity:

In [462]:
def get_popularity(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["popularity"]

In [463]:
dfs_concat['popularity'] = dfs_concat['id'].map(lambda x: get_popularity(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [464]:
dfs_concat.head()

      original_title  ...  popularity
0         The Grudge  ...      43.412
1         Underwater  ...      43.507
2        Like a Boss  ...      16.741
3      Three Christs  ...      10.047
4  Inherit the Viper  ...      10.569

[5 rows x 8 columns]

##Production_Company:

In [465]:
def get_production_companies(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["production_companies"]

In [466]:
dfs_concat['production_companies'] = dfs_concat['id'].map(lambda x: get_production_companies(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [467]:
dfs_concat.head()

      original_title  ...                               production_companies
0         The Grudge  ...  [{'id': 829, 'logo_path': '/mzpAmEQ5P1gFvdRoNy...
1         Underwater  ...  [{'id': 7076, 'logo_path': '/8BFxn9NUWSgp0ndih...
2        Like a Boss  ...  [{'id': 106497, 'logo_path': None, 'name': 'Ar...
3      Three Christs  ...  [{'id': 35000, 'logo_path': None, 'name': 'Bro...
4  Inherit the Viper  ...  [{'id': 22815, 'logo_path': None, 'name': 'Bar...

[5 rows x 9 columns]

##Production_countries:

In [468]:
def get_production_countries(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["production_countries"]

In [469]:
dfs_concat['production_countries'] = dfs_concat['id'].map(lambda x: get_production_countries(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [470]:
dfs_concat.head()

      original_title  ...                               production_countries
0         The Grudge  ...  [{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...
1         Underwater  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
2        Like a Boss  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
3      Three Christs  ...  [{'iso_3166_1': 'US', 'name': 'United States o...
4  Inherit the Viper  ...  [{'iso_3166_1': 'US', 'name': 'United States o...

[5 rows x 10 columns]

##Release_date

In [471]:
def get_release_date(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["release_date"]

In [472]:
dfs_concat['release_date'] = dfs_concat['id'].map(lambda x: get_release_date(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [473]:
dfs_concat.head()

      original_title  ...  release_date
0         The Grudge  ...    2004-10-22
1         Underwater  ...    2020-01-08
2        Like a Boss  ...    2020-01-09
3      Three Christs  ...    2017-09-23
4  Inherit the Viper  ...    2019-09-28

[5 rows x 11 columns]

##Revenue (Lucro):

In [474]:
def get_revenue(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["revenue"]

In [475]:
dfs_concat['revenue'] = dfs_concat['id'].map(lambda x: get_revenue(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [476]:
dfs_concat.head()

      original_title        id  ... release_date    revenue
0         The Grudge    1970.0  ...   2004-10-22  183474602
1         Underwater  443791.0  ...   2020-01-08   40882928
2        Like a Boss  526019.0  ...   2020-01-09   26925979
3      Three Christs  418533.0  ...   2017-09-23          0
4  Inherit the Viper  634904.0  ...   2019-09-28          0

[5 rows x 12 columns]

##Runtime

In [477]:
def get_runtime(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["runtime"]

In [478]:
dfs_concat['runtime'] = dfs_concat['id'].map(lambda x: get_runtime(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [479]:
dfs_concat.head()

      original_title        id  ...    revenue  runtime
0         The Grudge    1970.0  ...  183474602       92
1         Underwater  443791.0  ...   40882928       95
2        Like a Boss  526019.0  ...   26925979       83
3      Three Christs  418533.0  ...          0      117
4  Inherit the Viper  634904.0  ...          0       90

[5 rows x 13 columns]

## Línguas faladas (Spoken_languages):

In [480]:
def get_spoken_languages(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["spoken_languages"]

In [481]:
dfs_concat['spoken_languages'] = dfs_concat['id'].map(lambda x: get_spoken_languages(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [482]:
dfs_concat.head()

      original_title  ...                                   spoken_languages
0         The Grudge  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
1         Underwater  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
2        Like a Boss  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
3      Three Christs  ...  [{'english_name': 'English', 'iso_639_1': 'en'...
4  Inherit the Viper  ...  [{'english_name': 'English', 'iso_639_1': 'en'...

[5 rows x 14 columns]

##Satus:

In [483]:
def get_status(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["status"]

In [484]:
dfs_concat['status'] = dfs_concat['id'].map(lambda x: get_status(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [485]:
dfs_concat.head()

      original_title  ...    status
0         The Grudge  ...  Released
1         Underwater  ...  Released
2        Like a Boss  ...  Released
3      Three Christs  ...  Released
4  Inherit the Viper  ...  Released

[5 rows x 15 columns]

##Tagline:

In [486]:
def get_tagline(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["tagline"]

In [487]:
dfs_concat['tagline'] = dfs_concat['id'].map(lambda x: get_tagline(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [488]:
dfs_concat.head()

      original_title  ...                                            tagline
0         The Grudge  ...               It never forgives. It never forgets.
1         Underwater  ...  7 miles below the ocean surface something has ...
2        Like a Boss  ...          The world of beauty is about to get ugly.
3      Three Christs  ...
4  Inherit the Viper  ...                          Some debts can't be paid.

[5 rows x 16 columns]

## Tittle:

In [489]:
def get_title(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["title"]

In [490]:
dfs_concat['title'] = dfs_concat['id'].map(lambda x: get_title(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [491]:
dfs_concat.head()

      original_title  ...              title
0         The Grudge  ...         The Grudge
1         Underwater  ...         Underwater
2        Like a Boss  ...        Like a Boss
3      Three Christs  ...      Three Christs
4  Inherit the Viper  ...  Inherit the Viper

[5 rows x 17 columns]

##Vote_average:

In [492]:
def get_vote_average(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["vote_average"]

In [493]:
dfs_concat['vote_average'] = dfs_concat['id'].map(lambda x: get_vote_average(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [494]:
dfs_concat.head()

      original_title        id  ...              title  vote_average
0         The Grudge    1970.0  ...         The Grudge           5.9
1         Underwater  443791.0  ...         Underwater           6.3
2        Like a Boss  526019.0  ...        Like a Boss           6.4
3      Three Christs  418533.0  ...      Three Christs           6.8
4  Inherit the Viper  634904.0  ...  Inherit the Viper           5.8

[5 rows x 18 columns]

##Vote_count:

In [495]:
def get_vote_count(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["vote_count"]

In [496]:
dfs_concat['vote_count'] = dfs_concat['id'].map(lambda x: get_vote_count(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [497]:
dfs_concat.head()

      original_title        id  ... vote_average  vote_count
0         The Grudge    1970.0  ...          5.9        2323
1         Underwater  443791.0  ...          6.3        2320
2        Like a Boss  526019.0  ...          6.4         532
3      Three Christs  418533.0  ...          6.8          70
4  Inherit the Viper  634904.0  ...          5.8          37

[5 rows x 19 columns]

## Homepage:

In [498]:
def get_homepage(movie_id):
  response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["homepage"]

In [499]:
dfs_concat['homepage'] = dfs_concat["id"].map(lambda x: get_homepage(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [500]:
dfs_concat.head()

      original_title  ...                                           homepage
0         The Grudge  ...
1         Underwater  ...  https://www.20thcenturystudios.com/movies/unde...
2        Like a Boss  ...  https://www.paramountmovies.com/movies/like-a-...
3      Three Christs  ...
4  Inherit the Viper  ...

[5 rows x 20 columns]

##Comparando os DataFrames:

In [501]:
df_movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [502]:
df_movies.shape

(4803, 20)

In [503]:
dfs_concat.columns

Index(['original_title', 'id', 'genres', 'budget', 'keywords',
       'original_language', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'homepage'],
      dtype='object')

In [504]:
dfs_concat.shape

(549, 20)

##Inserção dos créditos:

In [505]:
df_movies_credits = pd.read_csv("tmdb_5000_credits.csv")

In [506]:
df_movies_credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [507]:
df_movies_credits.rename(columns = {'movie_id': "id"}, inplace=True)

In [508]:
df_movies_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4803 non-null   int64
 1   title   4803 non-null   object
 2   cast    4803 non-null   object
 3   crew    4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [509]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [510]:
df_movies = df_movies.merge(df_movies_credits, on="id")

In [511]:
df_movies.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

##Inserindo os créditos dos filmes de 2020 e 2021:

In [512]:
def get_credits_cast(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}/credits?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["cast"]

In [513]:
dfs_concat['cast'] = dfs_concat['id'].map(lambda x: get_credits_cast(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [514]:
dfs_concat.head()

      original_title  ...                                               cast
0         The Grudge  ...  [{'adult': False, 'gender': 1, 'id': 11863, 'k...
1         Underwater  ...  [{'adult': False, 'gender': 1, 'id': 37917, 'k...
2        Like a Boss  ...  [{'adult': False, 'gender': 1, 'id': 1230868, ...
3      Three Christs  ...  [{'adult': False, 'gender': 2, 'id': 1205, 'kn...
4  Inherit the Viper  ...  [{'adult': False, 'gender': 2, 'id': 2299, 'kn...

[5 rows x 21 columns]

In [515]:
def get_credits_crew(movie_id): 
  response = requests.get("https://api.themoviedb.org/3/movie/{}/credits?api_key={}". format(movie_id, tmdb.api_key))
  data_json = response.json()
  return data_json["crew"]

In [516]:
dfs_concat['crew'] = dfs_concat['id'].map(lambda x: get_credits_crew(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [517]:
dfs_concat.head()

      original_title  ...                                               crew
0         The Grudge  ...  [{'adult': False, 'gender': 2, 'id': 7623, 'kn...
1         Underwater  ...  [{'adult': False, 'gender': 2, 'id': 2122, 'kn...
2        Like a Boss  ...  [{'adult': False, 'gender': 2, 'id': 23486, 'k...
3      Three Christs  ...  [{'adult': False, 'gender': 2, 'id': 18250, 'k...
4  Inherit the Viper  ...  [{'adult': False, 'gender': 2, 'id': 115090, '...

[5 rows x 22 columns]

##Concatenação Final:

In [518]:
df_movies.drop(['title_y'], axis = 1, inplace=True)

In [519]:
df_movies.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 22 columns]

In [520]:
df_movies.rename(columns={"title_x": "title"}, inplace=True)

In [521]:
df_movies.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 22 columns]

In [522]:
dataframes = [df_movies, dfs_concat]

In [523]:
df_movies.shape

(4803, 22)

In [524]:
dfs_concat.shape

(549, 22)

In [525]:
df_final = pd.concat(dataframes)

In [526]:
df_final.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 22 columns]

In [527]:
df_movies.shape

(4803, 22)

In [528]:
dfs_concat.shape

(549, 22)

In [529]:
df_final.shape

(5352, 22)

##Salvar em CSV:

In [531]:
df_final.to_csv(r'/content/df_final.csv', index=False, header=True)

In [532]:
df_test = pd.read_csv("df_final.csv")

In [534]:
df_test.tail()

        budget  ...                                               crew
5347         0  ...  [{'adult': False, 'gender': 2, 'id': 20773, 'k...
5348  28000000  ...  [{'adult': False, 'gender': 2, 'id': 1638, 'kn...
5349         0  ...  [{'adult': False, 'gender': 2, 'id': 131, 'kno...
5350         0  ...  [{'adult': False, 'gender': 0, 'id': 1113298, ...
5351  14000000  ...  [{'adult': False, 'gender': 1, 'id': 20742, 'k...

[5 rows x 22 columns]